.global-news {
  padding: 12rem 2rem 10rem;
  .actus {
    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
    &__actu {
      text-decoration: none;
      border-radius: 22px;
      box-shadow: 0px 4px 30px rgba(162, 162, 162, 0.3);
      overflow: hidden;

      img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
      }
    }

    &__content {
      padding: 1rem 2rem 2rem;
    }

    &__tag {
      width: min-content;
      display: block;
      color: #fff;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-color: #f87372;
      font-weight: bold;
      font-size: 0.8rem;
      border-radius: 1rem;
    }

    h1 {
      margin-top: 1rem;
      font-weight: bold;
    }
  }
}
