.map-card-container {
  width: 80vw;
  margin-left: 10vw;
  padding: 2rem;
  position: fixed;
  left: 0;
  bottom: 10rem;
  z-index: 999;
  border-radius: 2rem;
  background: #f9f9f9;
  box-shadow: 0px 4px 63px rgba(162, 162, 162, 0.4);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: transform 0.5s cubic-bezier(1, 0.15, 0.25, 1),
    opacity 0.5s cubic-bezier(1, 0.15, 0.25, 1);

  &.slide-enter,
  &.slide-leave-to {
    transform: translateY(100%);
    opacity: 0;
  }

  .map-card-image {
    width: 35%;
    height: 100%;
    margin-right: 2rem;

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .map-card-description {
    display: flex;
    flex-direction: column;
    color: #2c4251;
    font-size: 1.2rem;

    .card-title {
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    .card-adress {
      font-weight: 300;
    }

    .itinary-button {
      width: min-content;
      height: 4rem;
      line-height: 4rem;
      color: #ffffff;
      border-radius: 2rem;
      padding: 0 4rem 0 2rem;
      background-color: #f87372;
      text-decoration: none;
      position: relative;
      margin-top: 2rem;

      &::after {
        content: url("/img/itinary-arrow.svg");
        position: absolute;
        right: 2rem;
        top: 0;
      }
    }
  }
}
