.header-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 3rem 4rem 8rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ffffff 40.1%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .page-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .page-title {
      font-size: 3rem;
      font-weight: 700;
      color: #505257;
    }
    .page-description {
      font-size: 1.2rem;
      color: #9c9ba1;
    }
  }

  .dropdown-container {
    position: relative;

    &::after {
      content: url("/img/dropdown-arrow.svg");
      position: absolute;
      right: 2rem;
      top: calc(2rem - 0.6rem);
    }
    .page-dropdown {
      width: auto;
      display: inline-flex;

      height: 4rem;
      color: #ffffff;
      border-radius: 2rem;
      padding: 0 4rem 0 2rem;
      background-color: #f87372;
      align-items: center;
      text-align-last: center;
    }
  }
}
