.nav-bar-container {
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    padding: 2rem 1rem;
    background: #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

    .nav-bar-list {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: space-around;

        .nav-bar-item {
            width: calc(100% / 3);
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #9D9D9D;

            span {
                display: none;
            }

            img {
                width: 1.8rem;
            }

            &--active {
                color: #ffffff;
                border-radius: 2rem;
                padding: 0 0.5rem;
                
                background-color: #F87372;

                span {
                    display: block;
                    margin-left: 1rem;
                    font-size: 1.2rem;
                }
            }

            .item-image {
            }

            .item-title {
                font-size: 1.2rem;
                color: var(--light-color);
                transition: color 0.3s ease-out;
            }

            &.router-link-exact-active,
            &.router-link-active {
                .item-title {
                    color: var(--accent-color);
                }
            }
        }
    }
}
